{% extends 'base.html.twig' %}
{% block title %}
  Catálogo de actores
{% endblock %}
{% block main %}
  {{ parent() }}
  <p>
    Listado de actores en <b>Symfofilms</b>.
  </p>

  <table class="table table-striped table-bordered">
    <tr>
      <th>
        ID
      </th>
      <th>
        Nombre
      </th>
      <th>
        Fecha de nacimiento
      </th>
      <th>
        Nacionalidad
      </th>
      <th>
        Biografía
      </th>      
      <th>
        Operaciones
      </th>
    </tr>
    {% for actuante in actores %}
      <tr>
        <td>
          {{ actuante.id }}
        </td>
        <td>
          {{ actuante.nom }}
        </td>
        <td>
          {{ actuante.datadenaixement|date() }} min.
        </td>
        <td>
          {{ actuante.nacionalitat }}
        </td>
        <td>
          {{ actuante.biografia }}
        </td>
        
        <td class="text-center">
          <a href="{{
            path(
              'actor_show',
              {
                id: actuante.id
              }
            )
            }}">
            <img height="25"
              width="25"
              src="{{ asset('images/buttons/show.png') }}"
              alt="Ver detalles"
              title="Ver detalles" />
          </a>
          <a href="{{
            path(
              'actor_edit',
              {
                id: actuante.id
              }
            )
            }}">
            <img src="{{ asset('images/buttons/update.png') }}"
              alt="Modificar"
              title="Modificar"
              height="20"
              width="20" />
          </a>
          <a href="{{
            path(
              'actor_delete',
              {
                id: actuante.id
              }
            )
            }}">
            <img height="25"
              width="25"
              src="{{ asset('images/buttons/delete.png') }}"
              alt="Borrar"
              title="Borrar" />
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>

  {# Enlaces de paginación #}
  {% if totalPaginas > 1 %}
  <nav class="container row" arial-label="Paginación de resultados">
    <p class="col-6">Página {{paginaActual}} de {{totalPaginas}},
      hay <b>{{totalActores}}</b> películas en total.
    </p>
    <ul class="col-6 pagination justify-content-end">
      {% if paginaActual >1 %}
        <li class="page-item">
          <a class="page-link" href="{{ path('actor_list',
          {pagina: paginaActual-1 < 1 ? 1 : paginaActual-1}) }}"> << </a>
        </li>
      {% endif %}
      {% for i in 1..totalPaginas %}
        <li class="page-item {{i == paginaActual ? 'active': ''}}">
          <a class="page-link" href="{{ path('actor_list', {pagina: i}) }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if paginaActual < totalPaginas %}
        <li class="page-item">
          <a class="page-link" href="{{ path('actor_list',
            {pagina: paginaActual+1 <= totalPaginas ? paginaActual+1 : paginaActual}) }}">>></a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %} 
{% endblock %}
