{% extends 'base.html.twig' %}
{% block title %}
  Edición de la película {{ pelicula.titulo }}
{% endblock %}
{% block main %}
    
  {{ parent() }}
  <p>
    Edición de la película <b>{{ pelicula.titulo }}</b>.
  </p>
  <div class="bg-light border row align-items-center justify-content-center my-3">
    <div class="col-6">
      {{ form(formulario) }}
    </div>
    <div class="col-6 text-center">
      <h4>Carátula actual</h4>
      <figure class="my-2 p-2">
        <img id="actual"
          class="rounded border movie-cover" style="max-width: 220px"
          alt="Carátula de {{pelicula.titulo}}"
          title="Carátula de {{pelicula.titulo}}"
          src="{{asset(covers_directory~'/'~(pelicula.caratula??'default.jpg'))}}">        
        {% if pelicula.caratula %}
        <figcaption class="my-3 text-center">
          Borrar esta Carátula
          <a href="{{path('pelicula_delete_cover', {'id':pelicula.id})}}">
            <img src="{{asset('images/buttons/delete.png')}}" height="30" width="30"
              alt="Borrar carátula" title="Borrar carátula">
          </a>
        </figcaption>
        {% endif %}
      </figure>
      <h4>Previsualización</h4>
      <figure class="my-2 p-2">
        <img id="preview"
          class="rounded border movie-cover" style="max-width: 220px"
          src="{{asset(covers_directory~'/'~(pelicula.caratula??'default.jpg'))}}">
        <figcaption class="my-3 text-center">
          Carátula tras aplicar los cambios
        </figcaption>
      </figure>

      <script src="{{asset('/js/previewEdit.js')}}"></script>
    </div>
  </div>
{% endblock %}
