{% extends 'base.html.twig' %}
{% block title %}
  Detalles de {{ pelicula.titulo }}
{% endblock %}
{% block main %}
  {{ parent() }}

  <h2>
    {{ pelicula.titulo }}
  </h2>
  <p>
    Detalles de la pelicula {{ pelicula.titulo }}, de {{ pelicula.director }} en
    <b>SymfoFilms</b>.
  </p>

  {# <div class="border my-3 p-3"> #}
  <div class="bg-light border row align-items-center justify-content my-3">
    <div class="col m-3 p-3 text-star">
    <h2>Datos:</h2>
    <p>
      <b>ID</b>: {{ pelicula.id }}
    </p>
    <p>
      <b>Titulo</b>: {{ pelicula.titulo }}
    </p>
    <p>
      <b>Estreno</b>: {{ pelicula.estreno }}
    </p>    
    <p>
      <b>Director</b>: {{ pelicula.director }}
    </p>
    <p>
      <b>Duración</b>: {{ pelicula.duracion }}
    </p>
    <p>
      <b>Género</b>: {{ pelicula.genero }}
    </p>
    <p>
      <b>Valoración</b>: {{ pelicula.valoracion ? pelicula.valoracion~'/5':'Sin valorar' }}</b>
    </p>
    </div>
    <div class="col m-3 p-3 text-center bg-light">
      <img class="rounded border movie-cover" style="max-width: 240px"
        alt="Carátula de {{pelicula.titulo}}"
        title="Carátula de {{pelicula.titulo}}"
        src="{{asset(covers_directory~'/'~(pelicula.caratula ?? 'default.jpg'))}}">
    </div>
  </div>

  {% if pelicula.sinopsis %}
    <div class="border row align-items-center justify-content-center my-3 p-4">
      <h2>
        Sinopsis:
      </h2>
      {% autoescape 'html' %}
        <p>
          {{
            pelicula.sinopsis|replace({
              '\n': '<p></p>'
            })
          }}
        </p>
      {% endautoescape %}
    </div>
  {% endif %}

  <div class="text-center">
    <a href="{{ path('pelicula_list') }}">
      <img height="40"
        width="40"
        src="{{ asset('images/buttons/show.png') }}"
        alt="Lista"
        title="Volver al listado" />
    </a>
    <a href="{{
      path(
        'pelicula_edit',
        {
          id: pelicula.id
        }
      )
      }}">
      <img height="40"
        width="40"
        src="{{ asset('images/buttons/update.png') }}"
        alt="Modificar"
        title="Modificar" />
    </a>
    <a href="{{
      path(
        'pelicula_delete',
        {
          id: pelicula.id
        }
      )
      }}">
      <img height="40"
        width="40"
        src="{{ asset('images/buttons/delete.png') }}"
        alt="Borrar"
        title="Borrar" />
    </a>
  </div>
{% endblock %}
